/* Estilos específicos para home.html */
@import url("styles.css");

/* Estilos específicos para la página de inicio */
.hero-image {
  width: 100%;
  margin-bottom: 20px;
}

/* Estilos para la sección de la imagen principal */
.imagenprincipal {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 1; /* Asegura que otros elementos puedan estar encima si es necesario */
}

.imagenprincipal img {
  width: 100%;
  height: auto;
  display: block;
}

/* Estilos para el botón de llamada a la acción dentro de la imagen */
#CallToAction {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  padding: 10px 15px;
  background-color: #e8dfdc;
  color: rgb(8, 8, 8);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  transition: background-color 0.3s;
}

#CallToAction:hover {
  background-color: #1382f8;
}

/* Media queries para ajustar en móviles */
@media screen and (max-width: 790px) {
  #CallToAction {
    width: 50%;
    font-size: 18px;
  }
  
  .nav_links {
    position: absolute;
    top: 90px;
    left: -100%;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: 0.5s;
    background-color: var(--primary-color);
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 2; /* Asegura que el menú esté por encima de otros elementos */
  }

  .nav_links.active {
    left: 0;
  }

  .nav_links li {
    margin: 2rem 0;
  }

  .hamburger {
    display: block;
    z-index: 3; /* Asegura que sea visible y funcional */
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Estilos para pantallas grandes */
@media screen and (min-width: 791px) {
  .hamburger {
    display: none; /* Oculta el menú hamburguesa en pantallas grandes */
  }
  .nav_links {
    list-style: none;
    display: flex;
  }
  .nav_links li {
    display: inline-block;
    padding: 0px 20px;
  }
  .nav_links li a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    transition: all 0.3s ease 0s;
  }
  .nav_links li a:hover {
    color: var(--accent-color-2);
  }
}
/* Estilos para el modo oscuro */
[data-theme="dark"] {
  background-color: #121212; /* Color de fondo en modo oscuro */
  color: #ffffff; /* Color del texto en modo oscuro */
}
[data-theme="dark"] .card {
  background-color: #1c1c1c; /* Fondo de tarjeta en modo oscuro */
  border: 1px solid #444; /* Borde de tarjeta en modo oscuro */
}
[data-theme="dark"] .card p {
  color: #ffffff; /* Texto en blanco en modo oscuro */
}
/* Variables para el modo oscuro */
[data-theme="dark"] {
  --primary-color: #4b4c4d; /* Color primario en modo oscuro */
  --secondary-color: #1c1c1c; /* Color secundario en modo oscuro */
  --accent-color-1: #6a7079; /* Color de acento 1 en modo oscuro */
  --accent-color-2: #f6f4f3; /* Color de acento 2 en modo oscuro */
  --text-color: #ffffff; /* Color del texto en modo oscuro */
  --bg-color: #121212; /* Color de fondo en modo oscuro */
}

/* Estilos para la cuadrícula de la página de inicio */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 10px;
  margin-bottom: 20px;
}

.box {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding-bottom: 25px;
  background-color: rgb(233, 230, 230);
  text-align: center;
}

.box h3 {
  color: #3d5a80;
  margin-top: 15px;
  margin-bottom: 10px;
}

.box p {
  color: #3d5a80;
  font-size: 1rem;
  padding: 0 15px;
}

/* Estilos para la sección de miembros destacados */
.spotlight-section {
  padding: 2rem 1rem;
  background-color: #edeaea;
  margin-top: 2rem;
}
.spotlight-section h2 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
}
.spotlight-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 0 1rem;
}
.spotlight-card {
  background-color: white;
  border-radius: 8px;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.spotlight-card:hover {
  transform: translateY(-5px);
}
.spotlight-card img {
  border-radius: 50%;
  margin-bottom: 1rem;
}
.spotlight-card h3 {
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}
.spotlight-card .membership {
  color: #ffd700;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.spotlight-card p {
  font-size: 1rem;
  color: black;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 790px) {
  #CallToAction {
    width: 80%;
    font-size: 20px;
  }
  .grid-container {
    grid-template-columns: 1fr;
  }
}
